.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    margin-top: auto;
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
     color: #454545;
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    height: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;

}

.newsletter button {
    height: 50px; /* same as input */
    padding: 0 25px; /* horizontal padding */
    border-radius: 25px; /* match input radius */
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.newsletter button:hover {
    background-color: #d563b5; /* new background color on hover */
    color: black; /* optional: change text color */
}