.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 100px;
    

}
.new-collections h1{
    color: #171717;
    font-size:50px ;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 20px;
    padding: 0 30px; 
}
.item {
    width: 300px;  /* or your desired width */
    overflow: hidden;  /* crucial to keep spacing */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}
